<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
	    <string>cs-CZ</string>
	    <string>da-DK</string>
		<string>de-DE</string>
		<string>el-GR</string>
		<string>en</string>
		<string>es-ES</string>
		<string>es-MX</string>
		<string>fa-IR</string>
		<string>fi-FI</string>
		<string>fr-FR</string>
		<string>he-IL</string>
		<string>hu-HU</string>
		<string>id-ID</string>
		<string>it-IT</string>
		<string>ja-JP</string>
		<string>ko-KR</string>
		<string>nl-NL</string>
		<string>no-NO</string>
		<string>pl-PL</string>
		<string>pt-BR</string>
		<string>pt-PT</string>
		<string>ru-RU</string>
		<string>sl_SI</string>
		<string>sv-SE</string>
		<string>th-TH</string>
		<string>tr-TR</string>
		<string>vi-VN</string>
		<string>zh-CN</string>
		<string>zh-TW</string>
	</array>
	<key>CFBundleName</key>
	<string>InvenTree</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Camera permission is required to scan product barcodes and upload images to your InvenTree server</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record videos using the camera to upload to InvenTree</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Select photos from library to upload to your InvenTree server</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	    <string>http</string>
	    <string>https</string>
	    <string>mailto</string>
	    <string>tel</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
