# Build Android version of the app

name: Android

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  
jobs:

  build:
    runs-on: macos-latest
  
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - name: Setup Flutter
      uses: subosito/flutter-action@v1
      with:
        flutter-version: '2.10.3'
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 6.1.1
    - name: Build for Android
      run: |
        flutter pub get
        cp lib/dummy_dsn.dart lib/dsn.dart
        flutter build apk --debug
